<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mapper.ServerInfoMapper">
  <resultMap id="BaseResultMap" type="com.server.domain.vps.ServerInfo">
    <!--@mbg.generated-->
    <!--@Table vps_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="expire_start" jdbcType="DATE" property="expireStart" />
    <result column="expire_end" jdbcType="DATE" property="expireEnd" />
    <result property="deleted" column="deleted" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
      <!--@mbg.generated-->
      id,
      brand,
      area,
      url,
      price,
      expire_start,
      expire_end,
      deleted
  </sql>
</mapper>